:root{
  --bodybackground: #a26ab9;
  --squareBackground: #f2e0f7;
  --buttonColor:#e438b9;
  --buttonHover: #d253b2;
  --bodyText:#fff;
  --factText:#1f2631;

}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--bodybackground);
	color: var(--bodyText);
	font-size: 1.5rem;
	font-weight: 700;
}

.container {
	/* width: 100vw;
	height: 100vh; */
	/* height: 100vh; */
	margin-top: 5em;
	display: flex;
	/* place-items: center; */
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.square {
	background-color: var(--squareBackground);
	margin: 2em;
	border-radius: 20px;
	width: 25em;
	min-height: 15em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.getFact {
	padding: 1em 2em;
	border-radius: 10px;
	border: none;
	background-color: var(--buttonColor);
	color: var(--factText);
	font-size: 1.5rem;
	font-weight: 600;
	cursor: pointer;
	transition: scale 200ms ease-out, background-color 200ms ease-out;
}

.getFact:hover{
	scale: 1.1;
	background-color: var(--buttonHover);
}

.fact{
	/* display: none; */
	color: var(--factText);
	font-size: 1.5rem;
	font-weight: 500;
	margin: 2em 2em 0 2em;
	text-align: center;
}